@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/*there are tons of unused components in here, might remove later*/

h1{
    color: white;
}

.header{
    align-items: center;
    width: auto;
    margin: 0;
    font-size: 40px;
}

#red{
    text-align: right;
    font-size:70px;
}

#flags{
    color: red;
    font-size: 50px;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: red;
    z-index: -2; 
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-size: 5rem;
    font-weight: bold;
}
#background-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: -2; 
    display: flex;
    flex-direction: row;
    color: red;
    font-size: 5rem;
    font-weight: bold;
}

h2{
    color: white;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    align-items: center;
}

input[type=number]{
    width: 10%;
    font-size: xx-large;
}

input::-webkit-inner-spin-button {/*arrows inside of the number input*/
    -webkit-appearance: none;
    margin: 0;
}

input{
    height: auto;/*note: change this in the future (maybe)*/
    width: 50%;
    padding: 0;
    border-radius: 0;
    line-height: 70px;
    background-color: transparent;
    color: white;
    font-size: 2em;
    border: none;
    outline: none;
    font-family: Roboto Slab, sans-serif;
    text-align: center;
    font-weight: bold;
    overflow-x: none;
    text-rendering: geometricPrecision;
}

span {
    border: none;
    color: inherit;
    width: 100%;
    height: 1em;
    display: block;
    font-size: inherit;
    opacity: 1;
}
span[contenteditable]:empty:focus::before,
span[contenteditable]:empty::before{
    content: 'custom text';
    opacity: 0.5;
}
span:focus{
    outline-width: 0;
}

.input::placeholder{
    color: antiquewhite;
    opacity: 0.5;
}

input:focus{
    outline-width: 0;
}

.box{
    width: 100%;
    border: #fff;
    border-width: 1em;
}

.players-menu p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}



.players-list{
    height: 90%;
    overflow-y: auto;
}

::selection{
    background-color: #FF655B;
}

.players-list::-webkit-scrollbar {width: 0.5rem;}
.players-list::-webkit-scrollbar-track {background: transparent;}
.players-list::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
    margin: 5px;
}

.player{
    border-radius: 5px;
    overflow: hidden;
    background: white;
    padding: 10px;
    margin: 5px;
    color: #FF655B;/*not sure if red, purple, pink or #FF655B is better*/
    font-weight: bold;
    width: auto;
    display:flex;
    height:auto; 
    flex-direction:right; 
    align-items:center;
}

.player-text{
    text-align:left;
    font-size:15px;
    display:flex
}

.name{
    color: red;
}

div.scrollmenu {
    background-color: transparent;
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 25px;
}

#played-cards{
    width: 90%;
    min-height: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
}

.scrollmenu::-webkit-scrollbar {height: 0.5rem;}
.scrollmenu::-webkit-scrollbar-track {background: transparent;}
.scrollmenu::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 5px;
    margin: 5px;
}

.custom{
    border: transparent;
    color: inherit;
    background-color: transparent;
    width: 8rem;
    font-size: inherit;
    font-weight: none;
}

.custom::placeholder{
    color: inherit;
    opacity: 0.75;
}


.presented{
    width:min-content;
}

.card {
    text-align: left;
    user-select: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    min-height: 10.25rem; /*min height is for the thing to extend. fix it later*/
    min-width: 9rem;
    text-decoration: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border-radius: 0.5rem;
    padding: 15px;
    margin: 0.5rem;/*might need to change this*/
    border: solid black 1px;
    cursor: pointer;
}

.opacity{
    opacity: 0.5;
}

.red{
    background-color: red;
    color: white;
}

.white{
    background-color: white;
    color: red;
}

.swipe{
    height: 50%;
    width: 5%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    display: none; /*display flex*/
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.right{
    right: 0;
}

.left{
    left: 0;
}

div i {
    transform: scale(3);
    transition: all .2s ease-in-out;
}

div i:hover{
    cursor: pointer;
    transform: scale(3.5);
}

#heart{
    position: absolute;
    top: 50%;
    transform: scale(3);
    left: 5%;
    color: #FF655B;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#heart:hover{
    transform: scale(4);
}


#upper-half{
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.confirm{
    margin: 1rem;
}

#lower-half{
    width: 100%;
    height: 40%;
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.players-menu{
    width: 15rem;
    background-color: rgba(20, 20, 20, 0.5);
    border: solid white 0.25em;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
}

.menu{
    width: 700px;
    min-height: 1rem;
    background-color: red;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    margin-top: 6rem;
}

.wordsthing{
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    margin: 0;
    background-color: transparent;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    color: transparent;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    z-index: 1;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.btn::before {
    content: attr(datatext);
    position: absolute;
    color: white;
    width: 0%;
    overflow: hidden;
    transition: 0.25s;
}

.btn:hover::before{
    width: 100%;
}

#player-button{
    display:none;
}

.profile-card{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.profile-card .card{
    min-width: 18rem;
    height: 20.5rem;
    font-size: 40px;
}