
.tabs-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 75%;
    background: #f1f1f1;
    word-break: break-all;
    margin-bottom: auto;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
    display: flex;
}
.tabs {
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
}
.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs{
    background: rgba(255, 59, 85, 0.25);
    border-bottom: 1px solid transparent;
    color: white;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: linear-gradient(0.35turn,#dd2A7B, #8134AF);
}



button {
    border: none;
}
.content-tabs {
    flex-grow : 1;
}
.content {
    background: rgba(255, 59, 85, 0.25);
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}
.active-content {
    display: block;
}